router-outlet {
  display: none;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 64px);
  margin-top: 64px;
}

.mat-drawer {
  min-width: 60%;
}

app-footer {
  margin-top: 50px;
}

@media (max-width: 599px) {
  .page-content {
     min-height: calc(100vh - 56px);
     margin-top: 56px;
  }
}

.mat-drawer-container {
  min-height: 100vh;
  height: 100%;
}
