<div
  class="movies__container"
  *ngIf="movies.length">
  <div
    *ngFor="let movie of movies"
    [style.display]="movie.poster_path ? 'block': 'none'">
    <div
      class="movie__item cast__photo__container"
      *ngIf="movie.poster_path">
      <img
        [src]="posterUrl + movie.poster_path"
        alt>
      <div class="cast__photo__container--text">
        <button (click)="getMovieDetails(movie.id)">
          <mat-icon>play_circle_filled</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="nothingFound"
  fxLayout
  fxLayoutAlign="center center">
  <p>Nothing Found</p>
</div>
<div
  *ngIf="!(movies.length) && !nothingFound"
  class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>
